body, html {
    height: 100%;
    background-color: #5cdb95;
    font-family: 'Chivo', sans-serif;
}

body {
	display: flex;
    flex-direction: column;
}

#map {
	position: relative;
	padding-left: 1px;
	padding-right: 1px;
}

div.hidden {
	display: none;
}

nav {
	background-color: #015249;
}

.jumbotron {
    background-color: transparent;
    width: 50%;
}

.pane {
	background-color: #feffff;
}

.slider-selection {
	background: #BABABA;
}

.progress {
	height: 50px;
}

.progress-bar-animated {
	width: 100%;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 200px;
    top: 100px;
    left: 50%;
	padding: 10px;
	margin-left: -100px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.legend-square {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.legend-line {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 5px;
    margin-right: 5px;
}
